name: Build shadPS4

on:
  workflow_dispatch:  # umožní ručne spustiť build

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: 505e80e756bbc29e33c4c9bd7fdd0a45487f9662  # konkrétny commit

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y cmake build-essential qt6-base-dev qt6-tools-dev qt6-tools-dev-tools libgl1-mesa-dev libvulkan-dev

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --parallel

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: shadps4-build
          path: build/
